body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

li {
    padding-right: 50px;
}

input, textarea {
    font-size: 1em;
    background-color: #f3f3f;
}

.content{
    margin: 20px;
}

.nav li {
    display: inline;
}

.nav {
  margin: 100;
  padding: 50;
  overflow: hidden;
  background-color: #f3f3f3;
  font-size: 1.5em;
  color: red;
}

.form {
    margin: 20px;
    padding: 20px;
    color: green;
    background-color: #f3f3f3;
    font-weight: bold;
    width: 66%;
    float: left;
}

.response {
    color: black;
    font-weight: normal;
    font-size: 1.2em;
}

label {
    padding: 20px;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.round {
  /*background-color: #04AA6D;*/
  background-color: #0480a9;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 25%;
}

.attributes {
  font-size: 1.3em;
}

.right{
    float: right;
}

.rightpadding{
    float: right;
    padding-right: 20px;
    margin-right: 200px;
}

.COMP171{
    color: #0404a9;
}

.COMP210{
    color: #a9a904;
}

#question {
    height: 50px;
    width: 400px;
    font-size:1.2em;
    background-color: #5E9BC4;
}

/*
input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
.input_container {
  border: 1px solid #e5e5e5;
}
*/
/*
input[type=file]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: .2em .4em;
  border-radius: .2em;
  background-color: #a29bfe;
  transition: 1s;
  height: 40px;
}
*/
input::file-selector-button {
  background-image: linear-gradient(
    to right,
    #ff7a18,
    #af002d,
    #319197 100%,
    #319197 200%
  );
  background-position-x: 0%;
  background-size: 200%;
  border: 0;
  border-radius: 8px;
  color: #fff;
  padding: 1rem 1.25rem;
  text-shadow: 0 1px 1px #333;
  transition: all 0.25s;
}
input[type=file]::file-selector-button:hover {
  background-position-x: 100%;
  transform: scale(1.1);
}

/*
input[type=file]::file-selector-button:hover {
  background-color: #81ecec;
  border: 2px solid #00cec9;
}
*/
