body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

.content{
    margin: 20px;
}

.nav li {
    display: inline;
}

.nav {
  margin: 100;
  padding: 20;
  overflow: hidden;
  background-color: #f3f3f3;
  font-size: 1.5em;
  color: red;
}

.form {
    margin: 20px;
    padding: 20px;
    color: green;
    background-color: #f3f3f3;
    font-weight: bold;
    width: 33%;
}

label {
    padding: 20px;
}
